<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
     <h1>
       Video Tutorials
     </h1>
      <button class="btn btn-primary btn-xl rounded-pill mt-5" (click)="toggleVideo(1)">What Is Coding</button>
      &nbsp;
      <button class="btn btn-primary btn-xl rounded-pill mt-5" (click)="toggleVideo(2)">How Programs Work</button>
      &nbsp;

      <button class="btn btn-primary btn-xl rounded-pill mt-5" (click)="toggleVideo(3)">Think Like A Computer</button>
      &nbsp;
       <button class="btn btn-primary btn-xl rounded-pill mt-5" (click)="toggleVideo(4)">Robots For Coding</button>
       

       <br />
      <br />

      <div>
        <div *ngIf="showVideo1">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/THOEQ5soVpY" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div *ngIf="showVideo2">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/Nc31NAujTkA" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div *ngIf="showVideo3">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xngWoocXYCo" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        </div>
        <div *ngIf="showVideo4">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/hJiEoOvvIlk" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>