<div class="container">
    <div class="row">
        <div class="col-sm">
            <img src="assets/img/AppleGiftcard.png" alt="">
            <h4>$25</h4>
        </div>
        <div class="col-sm">
            <img src="assets/img/ColdStone.png" alt="">
            <h4>$25</h4>
        </div>
        <div class="col-sm">
            <img src="assets/img/Nike.png" alt="">
            <h4>$25</h4>
        </div>
        <div class="col-sm">
            <img src="assets/img/Camera.png" alt="">
            <h4>$69</h4>
        </div>
        <div class="col-sm">
            <img src="assets/img/Karaoke.png" alt="">
            <h4>$89</h4>
        </div>
        <div class="col-sm">
            <img src="assets/img/Mermaid.png" alt="">
            <h4>$35</h4>
        </div>
    </div>
</div>