 <!-- Navigation -->
<header class="masthead text-center text-white">
  <div class="masthead-content">
    <!-- <div class="container"> 
      <a href="tutorial" class="btn btn-primary btn-xl rounded-pill mt-5">Youtube Tutorials</a>
    </div> -->
    <section>
        <div class="container">
          <div class="row align-items-right">
            <div class="col-lg-6 order-lg-2">
              <div class="p-5">
                <img class="img-fluid rounded-circle" src="assets/img/01.jpg" alt="">
              </div>
            </div>
            <div class="col-lg-6 order-lg-1">
              <div class="p-5">
                <h2 class="display-4">Our Mission Statement</h2>
                <p>"Increasing diversity by introducing coding to the younger souls.."</p>
              </div>
            </div>
          </div>
        </div>
      </section>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<!-- Footer -->
<footer class="py-5 bg-black">
  <div class="container">
    <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2019</p>
  </div>
  <!-- /.container -->
</footer>

